<form action="/registerClient" method="post">
	<div>
	<label>ClientId:</label>
	<input type="text" name="clientId"/><br/>
	</div>
	<div>
	<label>RedirectURI:</label>
	<input type="text" name="redirectURI"/>
	</div>
	<div>
        <label>Secret:</label>
        <input type="text" name="secret"/>
    </div>
	<div>
	<input type="submit" value="Register"/>
	</div>
</form>